/* importante resetar o valor padrão do navegador antes
para garantir que todos os navegadores vão seguir o mesmo
padrão. criar outro arquivo reset.css */

body{
    background-image: linear-gradient(135deg, #0038FF, #E48F41);
    height: 100vh;    /* para que vire uma imagem só */ 
}

#fotoMinha{
    background-image: url("icon.jpg");
    border-radius: 50%;
    background-size: cover;
    background-position: right center; 
    /* Centraliza horizontal e verticalmente */
    background-position: 10% 15%;
    height: 255px;
    width: 255px;
    /* Se quiser mover para os lados ou para cima/baixo: */
}

h1{
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 33px 0 px 27px 0px; 
    margin-top: 15px;
    /* lembrando que gira topo direita baixo esquerda */
}

.buttonSocial{
    display: block;
    border-radius: 50px;
    width: 255px;
    height: 40px;
    background-color: #ffffff20;
    color: #000000;
    font-weight: 500;
    /* não gosta mt de usar px, converter pra rem
    18 / 16 = 1.125 (16 por ser padrão px) */
    margin-top: 15px;
    margin-bottom: 27px;
    position: relative;
    cursor: pointer;
    /* pro mouse dar o efeito de botão */
    
    img{
        position: absolute;
        height: 24px;
        width: 24px;
        left: 42px;
        top: 9px;        
    }
    
    p{
        position: absolute;
        left: 80px;
        top: 12px;
        font-size: 1.125rem;
        line-height: 1.125rem;
        /* tamanho ícone - tamanho do texto  = distribuir resultado ao redor do texto
        24-18=6  ou seja, 3px em cima e 3px em baixo */

    }
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}