/* Align items
Como quero que o eixo secundário apareça em tela
PADRÃO: Stretch, linhas esticam na div
Baseline: pros textos estarem alinhados na mesma linha e mesmo nível
Além disso: flex-start, flex-end
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
}

.container{
  display: flex;
  height: 200px;
  border: 2px solid black;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.item{
  background-color: tomato;
  margin: 10px;
}

.i3{
  font-size: 40px;
  padding: 10px, 0;
}
