* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  padding: 1rem;
}

.styledButton1,
.styledButton2 {
  margin: 15px 10px 15px 0;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.styledButton1:nth-child(1) {
  background-color: rgb(209, 16, 16);
}

.styledButton1:nth-child(2) {
  background-color: rgb(18, 220, 200);
}

.styledButton1:nth-child(3) {
  background-color: rgb(236, 216, 3);
}

.styledButton2:nth-child(1) {
  background-color: rgb(78, 23, 207);
}

.styledButton2:nth-child(2) {
  background-color: rgb(222, 140, 18);
}

.styledButton2:nth-child(3) {
  background-color: rgb(23, 207, 121);
}

.styledParagraph {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#customTitle {
  text-decoration: underline;
  color: rgb(133, 33, 227);
}

.boldText {
  font-weight: bold;
}

#orangeTitle {
  color: rgb(255, 136, 0);
}
